body{
    display:flex;
    justify-content:center;
    align-items:center;
    height: 100vh;
    margin: 0;
}
.container {
    position: relative;
    width: 100%;
    height: 200px;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: slide 2s forwards;
}
.circle {
    position: relative;
    width: 50%;
    height: 50;
    align-items: center;
    display: flex;
    color: white;
    justify-content: center;
}
.circlef {
    background-color: red;
    animation: moveF 2s forwards;
}